<h1>Working Workout</h1>
<input type="hidden" id="workoutData" value="{{workoutData}}">
    
<h2>Current Workout: {{currentWorkout.name}}</h2>
<div id="currentWorkout">
    {{#each currentWorkout.exercises}}
        <div class="card my-3">
            <div class="card-body">
                <h2 class="card-title"><a href="/exercises/{{encodeURI this.exerciseName}}">{{this.exerciseName}}</a></h2>
                <h5 class="card-subtitle mb-2 text-muted">Sets:</h5>
                {{#each this.sets}}
                    <div class="card my-2">
                        <div class="card-body">
                            <p class="card-text">Set {{this.setNumber}}: {{this.reps}} reps, {{this.weight}} weight</p>
                                                    </div>                     
                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
    {{#if user}}
<button class="btn btn-primary complete-button" data-user-id="{{userId}}" data-workout-name="{{currentWorkout.name}}" data-workout-id="{{currentWorkout._id}}">Complete?</button>   
   {{/if}}  
</div>
<script src="/public/js/completeWO_handler.js"></script>