<!DOCTYPE html>
<html>
<head>
  <title>Exercises</title>
</head>
<body>
  <h1>Exercises</h1>
  <ul>
    {{#each exercises}}
      <li>
        <h2>{{this.name}}</h2>
        <img src="{{this.imagePaths.[0]}}" alt="{{this.name}} image 1">
        <img src="{{this.imagePaths.[1]}}" alt="{{this.name}} image 2">
      </li>
    {{/each}}
  </ul>
</body>
</html>