<!DOCTYPE html>
<html>
<head>
  <title>{{name}}</title>
</head>
<body>
  <h1>{{name}}</h1>
  <img src="/exercises/{{encodeURIComponent name}}/images/0.jpg" alt="{{name}} image 1">
  <img src="/exercises/{{encodeURIComponent name}}/images/1.jpg" alt="{{name}} image 2">
  <p>Force: {{force}}</p>
  <p>Level: {{level}}</p>
  <p>Mechanic: {{mechanic}}</p>
  <p>Equipment: {{equipment}}</p>
  <p>Primary Muscles: {{primaryMuscles}}</p>
  <p>Secondary Muscles: {{secondaryMuscles}}</p>
  <p>Instructions: {{instructions}}</p>
  <p>Category: {{category}}</p>
</body>
</html>