<div class="exercises-header">
<h1>Exercises</h1>
</div>

<body>
<div class="exercises-container mt-4">
    <div class="exercises-form left">
    <ul>
        <form action="/exercises" method="get">
            <label for="search">Search:</label>
            <input type="text" id="search" name="search">

            <label for="sort">Sort by:</label>
            <select id="sort" name="sort">
                <option value="name">Name</option>
                <option value="level">Level</option>
                <!-- Add more options as needed -->
            </select>
            <label for="sortOrder">Sort order:</label>
                <select id="sortOrder" name="sortOrder">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            <h3>Filter by:</h3>

            <label for="Muscle">Muscle:</label>
            <select id="Muscle" name="Muscle">
            <option value="">All</option>
            {{#each Muscle}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>

            <label for="Level">Level:</label>
            <select id="Level" name="Level">
            <option value="">All</option>
            {{#each Level}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>

            <label for="Force">Force:</label>
            <select id="Force" name="Force">
            <option value="">All</option>
            {{#each Force}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>

            <label for="Mechanic">Mechanic:</label>
            <select id="Mechanic" name="Mechanic">
            <option value="">All</option>
            {{#each Mechanic}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>

            <label for="Equipment">Equipment:</label>
            <select id="Equipment" name="Equipment">
            <option value="">All</option>
            {{#each Equipment}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>


            <label for="Category">Category:</label>
            <select id="Category" name="Category">
            <option value="">All</option>
            {{#each Category}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>

            <input type="submit" value="Submit">
        </form>
        </div>
        
        <div class="exercises-list right">
        {{#each exercises}}
        <div class="card mb-3" style="width: 30rem;">
            <div class="card-header">
            <h3><a href="/exercises/{{encodeURI this.name}}">{{this.name}}</a></h3>
            </div>
            <div class="card-body">
            <p><span class="label">Force </span> <br> <span class="desc">{{force}}</span></p>
            <p><span class="label">Level </span> <br> <span class="desc">{{level}}</span></p>
            <p><span class="label">Mechanic </span> <br> <span class="desc">{{mechanic}}</span></p>
            <p><span class="label">Equipment </span> <br> <span class="desc">{{equipment}}</span></p>
            <p><span class="label">Primary Muscles </span> <br> <span class="desc">{{primaryMuscles}}</span></p>
            <p><span class="label">Secondary Muscles </span> <br> <span class="desc">{{secondaryMuscles}}</span></p>
            <p><span class="label">Category </span> <br> <span class="desc">{{category}}</span></p>
            <p><span class="label">Instructions </span> <br> <span class="instructions">{{instructions}}</span></p>
        </div>
        </div>
        {{/each}}
        </div>
    </ul>
    </div>
</body>

</html>