<!DOCTYPE html>
<html>

<head>
    <title>Exercises</title>
</head>

<body>
    <h1>Exercises</h1>
    <ul>
        {{#each exercises}}
        <li>
            <h2>{{this.name}}</h2>

            <p>Force: {{force}}</p>
            <p>Level: {{level}}</p>
            <p>Mechanic: {{mechanic}}</p>
            <p>Equipment: {{equipment}}</p>
            <p>Primary Muscles: {{primaryMuscles}}</p>
            <p>Secondary Muscles: {{secondaryMuscles}}</p>
            <p>Instructions: {{instructions}}</p>
            <p>Category: {{category}}</p>
        </li>
        {{/each}}
    </ul>
</body>

</html>