<!DOCTYPE html>
<html>

<head>
    <title>Exercises</title>
</head>

<body>
    <h1>Exercises</h1>
    <ul>
        <form action="/exercises" method="get">
            <label for="search">Search:</label>
            <input type="text" id="search" name="search">

            <label for="sort">Sort by:</label>
            <select id="sort" name="sort">
                <option value="name">Name</option>
                <option value="level">Level</option>
                <!-- Add more options as needed -->
            </select>
            <label for="sortOrder">Sort order:</label>
                <select id="sortOrder" name="sortOrder">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            <h3>Filter by:</h3>
            <!--
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="">All</option>
                <option value="strength">Strength</option>
                <option value="stretching">Stretching</option>
                <option value="plyometrics">Plyometrics</option>
                <option value="strongman">Strongman</option>
                <option value="powerlifting">Powerlifting</option>
                <option value="cardio">Cardio</option>
                <option value="olympic_weightlifting">Olympic weightlifting</option>
                <option value="crossfit">Crossfit</option>
                <option value="weighted_bodyweight">Weighted bodyweight</option>
                <option value="assisted_bodyweight">Assisted bodyweight</option>
            </select>
            -->
            <label for="Muscle">Muscle:</label>
            <select id="Muscle" name="Muscle">
            <option value="">All</option>
            {{#each Muscle}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>

            <label for="Level">Level:</label>
            <select id="Level" name="Level">
            <option value="">All</option>
            {{#each Level}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>

            <label for="Force">Force:</label>
            <select id="Force" name="Force">
            <option value="">All</option>
            {{#each Force}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>

            <label for="Mechanic">Mechanic:</label>
            <select id="Mechanic" name="Mechanic">
            <option value="">All</option>
            {{#each Mechanic}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>

            <label for="Equipment">Equipment:</label>
            <select id="Equipment" name="Equipment">
            <option value="">All</option>
            {{#each Equipment}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>


            <label for="Category">Category:</label>
            <select id="Category" name="Category">
            <option value="">All</option>
            {{#each Category}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>

            <input type="submit" value="Submit">
        </form>
        {{#each exercises}}
        <li>
            <h2><a href="/exercises/{{encodeURI this.name}}">{{this.name}}</a></h2>
            <p>Force: {{force}}</p>
            <p>Level: {{level}}</p>
            <p>Mechanic: {{mechanic}}</p>
            <p>Equipment: {{equipment}}</p>
            <p>Primary Muscles: {{primaryMuscles}}</p>
            <p>Secondary Muscles: {{secondaryMuscles}}</p>
            <p>Instructions: {{instructions}}</p>
            <p>Category: {{category}}</p>
        </li>
        {{/each}}
    </ul>
</body>

</html>