<div class="card mx-auto mb-4 mt-5" style="width: 28rem;">
  <div class="card-body">
    <h5 class="card-title">{{firstName}} {{lastName}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}}.</h6>
  </div>
</div>

<div class="card mx-auto mb-4" style="width: 28rem;">
  <div class="card-header">
<h5>Completed Workouts</h5>
<h6>Past Workout History: (MAX 10)</h6>
</div>
    
{{#if customWorkouts.length}}
  <ul class="list-group list-group-flush">
    {{#each customWorkouts}}
      <li class="list-group-item">
        <h5 class = "list-group-item-heading">{{this.workoutName}}</h5>
        Completed on: {{this.completedDate}}
        <br>
        <a href="/workout/{{this.workoutId}}">View Workout</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-center">No completed workouts yet.</p>
{{/if}}   
</div>

<div class="card mx-auto mb-5" style="width: 28rem;">
  <div class="card-header">
    <h5>User Info</h5>
  </div>
  <ul class="list-group list-group-flush">
    
    <li class="list-group-item">
    <h6 class = "list-group-item-heading">First Name</h6>
    <p class="list-group-item">{{firstName}}</p>
    </li>

    <li class="list-group-item">
    <h6 class = "list-group-item-heading">Last Name</h6>
    <p class="list-group-item">{{lastName}}</p>
    </li>

    <li class="list-group-item">
    <h6 class = "list-group-item-heading">Email Address</h6>
    <p class="list-group-item">{{emailAddress}}</p>
    </li>

    <li class="list-group-item">
    <h6 class = "list-group-item-heading">Age</h6>
    <p class="list-group-item">{{age}}</p>
    </li>

    <li class="list-group-item">
    <h6 class = "list-group-item-heading">Date Of Birth</h6>
    <p class="list-group-item">{{DateOfBirth}}</p>
    </li>

    <li class="list-group-item">
    <h6 class = "list-group-item-heading">Gender</h6>
    <p class="list-group-item">{{gender}}</p>
    </li>

    <li class="list-group-item">
    <h6 class = "list-group-item-heading">Regstration Date</h6>
    <p class="list-group-item">{{registerDate}}</p>
    </li>
  </ul>
</div>

<div class="text-center">
<a href="/logout" class="btn btn-danger">Logout</a>
</div>