<div class="container mt-4">
  <h1 class="text-center">Workout Templates</h1>

  {{#each workouts}}
  <div class="card my-3">
    <div class="card-body">
      <h2 class="card-title">{{this.name}}</h2>
      <h3 class="card-subtitle mb-2 text-muted">Exercises:</h3>
      {{#each this.exercises}}
      <div class="card my-2">
        <div class="card-body">
          <h4 class="card-title">{{this.exerciseName}}</h4>
          <p class="card-text">Sets: {{this.sets}}</p>
          <p class="card-text">Reps: {{this.reps}}</p>
          <p class="card-text">Weight: {{this.weight}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>