<div class="empty-workout-header">
<h1>Start Empty Workout</h1>
</div>
<div class="workouts-container mt-4">
  <div class="workout-form left">
<p class="bold-font">Find Exercises:</p>
<input type="hidden" id="workoutData" value="{{workoutData}}">
{{#if user}}
{{> workoutForm formAction="/finish_workout"}}
</div>

<!-- Display the current workout -->
<div class="current-workout right">
<p class="bold-font">Current Workout:</p>
<div class="alert alert-info" role="alert" id="alertInfo">
  Use the search form to find and add exercises to your workout.
</div>
<div id="currentWorkout">
  {{#each currentWorkout.exercises}}
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div>{{this.exerciseName}}</div>
      <button class="btn btn-danger remove-exercise-button">Remove Exercise</button>
    </div>
    {{#each this.sets}}
    <div class="card-body d-flex justify-content-between align-items-center set-container">
      <span class="set-number-label">Set {{this.setNumber}}:</span>
      <label>Reps:</label>
      <input class="form-control mx-1 reps-input" type="number" value="{{this.reps}}">
      <label>Weight:</label>
      <input class="form-control mx-1 weight-input" type="number" value="{{this.weight}}">
      <button class="btn btn-danger remove-set-button">Remove Set</button>
    </div>
    {{/each}}
    <button class="btn btn-primary m-3 add-set-button">Add Set</button>
  </div>
  {{/each}}
</div>
</div>
</div>
{{else}}
<p>You must be signed in to record your workout.</p>
{{/if}}

<script src="/js/workout_handler.js"></script>